.app-wrapper {
  display: grid;
  padding: 10px;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas: 
  "h h"
  "n c";
}

.app-wrapper-content {
    grid-area: c;
    border-radius: 10px;
    border: solid 3px black;
  }
  
  .content img {
    max-height: 200px;
    margin-left: 10px;
  }

  .item {
    margin-left: 30px;
  }

  .posts{
    
  } 
